.app-wrapper {
    padding: 20px 40px;
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    padding: 5px;
    margin: 0 10px;
    grid-area: c;
    background-color: #90A877;
    box-shadow: 0px 0px 6px 0px #888888;
}