.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: goldenrod;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
}